<h2>All attractions</h2>

<%= link_to 'Add a new attraction', new_attraction_path %>

<ul>

  <% @attractions.each do |attraction| %>
    <li>

      <%= link_to attraction.name, attraction_path(attraction.id) %>


    </li>
  <% end %>

</ul>
