
<h1>Region</h1>
  <% @regions.each do |region| %>
      <a href="<%= region_path(region.id) %>">
      <%= cl_image_tag @region.image %>
      <br>
      <%= @region.name %>
      </a>
  <% end %>

<br>
