// /*
//  * This is a manifest file that'll be compiled into application.css, which will include all the files
//  * listed below.
//  *
//  * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
//  * vendor/assets/stylesheets directory can be referenced here using a relative path.
//  *
//  * You're free to add application-wide styles to this file and they'll appear at the bottom of the
//  * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
//  * files in this directory. Styles in this file should be added after the last require_* statement.
//  * It is generally better to create a new file per style scope.
//  *
//  *= require_tree .
//  *= require_self
//  */
// @import 'bootstrap';
//
//
// .logo{
//   font-family: 'Montserrat Subrayada', sans-serif;
// color: white;
// padding:20px;
// }
//
// body{
//   background-color:lightblue;
// }
@import 'bootstrap';


.logo{
font-family: 'Montserrat Subrayada', sans-serif;
color: white;
font-size: 30pt;
padding:20px;
}

////////////////Login Form//////////////////////////////

.login{
    display: flex;
    flex-flow: column;
    text-align:center;
    color:#009999;
}
.modal-content{
  display: block;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

////////////////Home page NavBar//////////////////////////////

.navContainer {
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  // border: 1px solid black;
  width: 100vw!important;
  height: 12vh;
  justify-content: space-between;
}

.navContainer2{
  width: 100vw!important;
  height: 1vh;
  background-color: white;
}

.item1 {
  align-self: center;
  padding-right: 2vw;
  margin: 0!important;
}

.item1 a{
  color:white;
  text-decoration: none;
}
.item1 a:hover{
  color:#66ff33;
  text-decoration: none;

}
.welcom{
    color:white;
}

#logo {
align-self: center;
}

//////////////////////////////////////////////////////
