// Place all the styles related to the attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

.mapImageContainer{
  max-height: 250px;
  max-width: 250px
}

.mapImageContainer img{
  max-height: 100%;
  width: 100%;
}



.attractionImage {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}


.searchResultsCardTitle{
  font-size: 30px;
  opacity: 0.5;
  text-align: center;
  line-height: inherit;
}

.searchResultsImage{
  max-width: 30vw;
  max-height: auto;
}

//hovereffects


.griddleContainer{
  display: grid;
  // width: 100  vw;
  width: 70vw;
  grid-template-columns: auto auto;
  height: auto;
  grid-gap: 50px;
  // border: 1px solid green;
  margin: auto;



}

.container:hover .overlay {
  opacity: 1;
}

/* The overlay effect - lays on top of the container and over the image */
.overlay {
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

//hover effects end


.attractionImage {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.resultsImage img{
  width: 34vw;
  height: 50vh;
  opacity: 0.7;
  transition: 0.4s;
  // border: 1px solid purple;
}

.resultsImage img:hover {opacity: 1}



.searchResultsText{
  display:grid;
  // width:72vw;
  padding: 30px;
  justify-content: center;
  margin: auto;
}
//////////////////////////////////////////////


.text-block {
    position: relative;
    bottom: 60px;
    right: 0px;
    width: auto;
    background-color: black;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
    opacity: 0.6;
}


.text-block h4{
  width:inherit;
}
