// Place all the styles related to the attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

.mapImageContainer{
  max-height: 250px;
  max-width: 250px
}

.mapImageContainer img{
  max-height: 100%;
  width: 100%;
}

.searchResultsCardTitle{
  font-size: 30px;
  opacity: 0.5;
  text-align: center;
  line-height: inherit;
}

.searchResultsImage{
  max-width: 30vw;
  max-height: auto;
}


.rcontainer {
    position: relative;
    width: 50%;
}

.rimage {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.rmiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.rcontainer:hover .image {
  opacity: 0.3;
}

.rcontainer:hover .middle {
  opacity: 1;
}

.rtext {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
