// Place all the styles related to the attractions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#map {
        height: 400px;  /* The height is 400 pixels */
        width: 100%;  /* The width is the width of the web page */
       }

.mapImageContainer{
  max-height: 250px;
  max-width: 250px
}

.mapImageContainer img{
  max-height: 100%;
  width: 100%;
}


.attractionImage {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.searchResultsCardTitle{
  font-size: 30px;
  opacity: 0.5;
  text-align: center;
  line-height: inherit;
}

.searchResultsImage{
  max-width: 30vw;
  max-height: auto;
}

//hovereffects
.rcontainer {
    position: relative;
    width: 80%;
    height: 300px;
}

.rimage {
  opacity: 1;
  display: block;
  height: 100%;
  width: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.rmiddle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.rcontainer:hover .rimage {
  opacity: 0.3;
}

.rcontainer:hover .rmiddle {
  opacity: 0.8;
}

.rtext {
  border-radius: 25px;
  background-color: #4CAF50;
  color: white;
  font-size: 12px;
  padding: 12px 20px;
}

.griddleContainer{
  display: grid;
  grid-template-columns: auto auto;
  height: calc(100vh - 10px);
  grid-gap: 130px;

}

//hover effects end


.attractionImage {

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
