// Place all the styles related to the regions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/






//////////////// Region homePage part ///////////////////////////////////

.regionContainer {
  display: grid;
  margin-top: 5vh;
  // border: 1px black solid;
  width: 70vw;
  height: 140vh;
  grid-template-columns: auto auto auto;
  // grid-template-columns: repeat(3, 1fr);
  grid-template-rows:  repeat(3, 1fr);
  grid-column-gap: 2vw;
  grid-row-gap: 2px;
  position: relative;
  justify-content:center;
}

.imageNameBox{
  background: none repeat scroll 0 0 #14ba8f;
  // opacity: 0.5;
  top:0;
  left:0;
  margin-bottom:4vh;
  padding: 10px;
}
.imageNameBox a{
  color:white;
  text-decoration: none;
}
.imageNameBox a:hover{
  color:#66ff33;
  text-decoration: none;

}
.regionImage{
  width: 300px;
  height: 200px;
  // position: relative;
  z-index: -1;

}

///////////////////////Region ShowPage Css //////////////////////////////

.regionShowpageContainer {
  display: grid;
  // border: 1px black solid;
  width: 70vw;
  height: 50vh;
  grid-template-columns: 1fr 3fr;
  margin-bottom:40px;
}

.regionTopGrid{
 border: 1px red solid;
}

.regionInfo {
  background-color:rgba(23, 162, 184,0.3);
  padding:40px;
  font-size:11pt;
}
.regionShowTitle{
  font-size:20pt;
  color:#117888;
}

.topImage{
width: 34vw;
height: 50vh;
}

/////////////////////Region Show page attractions part Css //////////////////////////////


.attraction-Wrapper{
  display: grid;
  // padding: 20px;
  // background: yellow;
  width: 70vw;
  // height: 100vh;
  grid-template-columns: 34vw 36vw ;
  // grid-template-rows: auto;
  // grid-column-gap: 2vw;
  grid-row-gap: 30px;
}
.attractionInfo{
  background-color:rgba(214, 212, 206,0.5);
  padding: 30px;
  font-size:11pt;
  // width: 34vw;
}

.infoColor{
  color:#117888;
  text-decoration: none;
  }


.attractionInfo a:hover{
  color:#00e6e6;
  text-decoration: none;
}


.attractionImageSize img{
  width: 34vw;
  height: 40vh;

}
.regionContainer img{
  width: 28vw;
}

/////////////////////////////////////////////////////
