<h3>Search results for "<%= @query %>"</h3>


<% if @attractions.length===0 %>
  Sorry, there are no results for "<%= @query %>"

<% else %>
  <div class='griddleContainer'>
    <% @attractions.each do |attraction| %>
      <%= link_to cl_image_tag(attraction.image), attraction_path(attraction.id), class:"resultsImage"%>
      <div class="centered">
        <%= attraction.name %>
      </div>
  <% end %>
  </div>
<% end %>
